* {
    text-align: center;
    font-weight: 400px;
}
table {
    margin: auto;
}

table, th, td {
    text-align: start;
    font-size: 18px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
}

th {
    font-size: 22px;
}

caption {
    margin: 40px 0 20px 0;
    font-size: 30px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgb(21, 94, 239);
}

p {
    margin-bottom: 40px;
    text-align: center;
}